
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

*{ box-sizing: border-box;}

:root{
    --ff:'Josefin Sans', sans-serif;
    --ff1:sans-serif;
    --m:20px;
    --maw:960px;
    --c:coral;
    --l:white;
    --d:black;
}
body{
    font-family: var(--ff1);
    max-width:var(--maw);
    margin: var(--m) auto;
    padding: var(--m);
    background: var(--c);
}

header, main, footer{
    padding: var(--m);
    background-color: var(--l);
    border-radius: var(--m);
    margin: var(--m);
}

a{ color:var(--c); text-decoration:none;}

p a:hover{ text-decoration: underline;}

img{ max-width: 100%;}

h1, h2, h3, h4, h5, h6{
    font-family: var(--ff);
}

header ul,
footer ul{
    list-style: none;
    padding-left: 0;
    gap:var(--m);
    display: flex;
}

/* FOOTER */
footer{
    text-align: center;
}

footer ul{
    justify-content: center;
}



/* Tabla */
table img{ max-width: 20px; transition: 0.3s;}

tr:nth-child(even) {
    background-color: #EEE;
  }

tr:hover{
    background: var(--c);
}

tr:hover td img{
    max-width:60px;
}

tr:hover a{
    color:var(--l);
}

a button,
.btn{
    padding: calc(var(--m)/2) var(--m);
    border-radius: var(--m);
    background:none;
    color:var(--c);
    text-align: center;
    display: inline-block;
    margin:calc(var(--m)/3) 0;
    border:1px solid var(--c);
    text-decoration:none !important;
    transition:0.3s;
}

a:hover button,
.btn:hover{
 
    background-color:var(--c);
    color:var(--l);

}

.botonera{
    display:flex;
    gap:10px;
    justify-content:end;
}

i{ padding-right:10px;}



main .ficha {display:flex;gap:20px;border-radius:var(--m);border: solid 1px var(--c);padding:var(--m);box-shadow:0 0 20px var(--c);margin-bottom: var(--m);
            animation: anim1 1s; position:relative;}
main .ficha .foto{ width: 200px !important;}

h1 span, p span{ color:var(--c);}


@keyframes anim1{
    0%{ opacity:0; top:40px;}
    100%{ opacity:1; top:0;}
}