:root{
    --ff:sans-serif;
    --m:20px;
    --maw:960px;
    --c:coral;
    --l:white;
    --d:black;
}
body{
    font-family: var(--ff);
    max-width:var(--maw);
    margin: var(--m) auto;
    padding: var(--m);
    background: var(--c);
}

header, main, footer{
    padding: var(--m);
    background-color: var(--l);
    border-radius: var(--m);
    margin: var(--m);
}

a{ color:var(--c); text-decoration:none;}

img{ max-width: 100%;}

header ul,
footer ul{
    list-style: none;
    padding-left: 0;
    gap:var(--m);
    display: flex;
}

/* FOOTER */
footer{
    text-align: center;
}

footer ul{
    justify-content: center;
}



/* Tabla de la base de datos*/
table img{ max-width: 80px;}